.bannerBg{
  background-image: url(../images/index-1.jpg);
  top: 0; 
  bottom: 0;
  position: absolute;
}


.slogan{
  padding-top: 188px;
  height: 100vh;
  p{
    margin-bottom: 108px;
  }
  @media (min-width: 767px){
    padding-top: 236px;
  }
}

.quoteBg{
  background-image: url(../images/index-5.jpg);
  height: 400px;
  @media (min-width: 767px){
    .row{
      padding-top: 150px;
    }
  }
}

.quoteAuthor{
  margin-top: 125px;
}

/* swiper css */
.swiper-container {
  width: 100%;
  .swiper-slide {
    width: auto !important;
  }
  .card {
    width: 240px;
  }
  .card-img {
    height: 240px;
  }
  @media (min-width: 767px){
    .card{
      width: 350px ;
    }
    .card-img {
      height: 350px;
    }
  }
}
.swiper-container-horizontal .swiper-pagination-bullets{
  bottom: 0;
}

.subscribeBg{
  background-image: url(../images/footer.jpg);
  @media (min-width: 767px){
    padding-top: 84px !important;
    padding-bottom: 84px !important;
  }
}




