.productImg{
  background-image: url(../images/img-1.jpg);
  height: 360px;
  margin-right: -15px;
  margin-left: -15px;
  span{
    right: 16px;
    top: 16px; 
  }
  @media (min-width:768px){
    span{
      left: 24px;
      top: 24px;
    }
  }  
}

.productInfo{
  margin-top: -32px;
  @media (min-width:768px){
    margin-left: -80px;
  }
}

.CartPrice{
  ul{
    margin-bottom: 178px; 
  }
  @media (min-width:768px){
    margin-left: 160px;
  }
}



.shopCart{
  z-index: $zindex-dropdown;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
}

.shopCart.move{
  display: block;
}