<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-commerce<%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="container">
    <div class="customerContent">
      <!-- nav -->
      <div class="row">
        <div class="col">
          <a class="navbar-brand py-3" href="index.html">
            <h1 class="font-family-Raleway text-secondary">CRAFTsMAN</h1>
          </a>
        </div>
      </div>
      
      <%- contents %>

      

    </div>
  </div>


  <footer class="container">
    <ul class="list-unstyled d-md-flex align-items-md-center border-top pt-3 pt-md-2">
      <li class="mb-3 mb-md-0 mr-md-4">
        <a href="" class="text-secondary-dark font-size-sm">Purchase Policy</a>
      </li>
      <li class="mb-3 mb-md-0 mr-md-4">
        <a href="" class="text-secondary-dark font-size-sm">Privacy Policy</a>
      </li>
      <li class="mb-3 mb-md-0">
        <a href="" class="text-secondary-dark font-size-sm">Terms & Conditions</a>
      </li>
    </ul>     
  </footer>


  


  <script src="./assets/js/vendors.js"></script>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
  <!-- Initialize Swiper -->
  <script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    freeMode: true,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    // Navigation
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // Scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },

  });
  </script> 
  <script src="./assets/js/all.js"></script>
</body>

</html>