a{
  display: block;
  &:hover{
    cursor: pointer;
  }
}

img{
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-family: Roboto, serif;
  line-height: 1.2;
  margin-bottom: 0;
  
}

h1, h2, h3, h4, h5, h6, a, span, button{
  text-transform:capitalize;
  color: $secondary;
}

ul{
  padding-left: 0;
  li{
    list-style: none;
  }
}
