// 間距
@media (min-width: 767px){
  .w-md-30{
    width: 30% !important;
  }
  .w-md-35{
    width: 35% !important;
  }
  .w-md-40{
    width: 40% !important;
  }
  .w-md-50{
    width: 50% !important;
  }
  .w-md-60 {
    width: 60% !important;
  }
  .w-md-70{
    width: 70% !important;
  }
  .w-md-75{
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
}

// z-index
.z-1{
  z-index: 1;
}

// position
.position-md-absolute{
  @media (min-width: 767px){
    position: absolute;
  }
}


// 背景圖片
.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center center;
}

// 字體顏色
$secondary-dark: #0000009A;
$secondary-light: #00000062;

@media (min-width: 767px){
  .text-md-secondary{
    color: $secondary !important;
  }
  .text-md-secondary-dark{
    color: $secondary-dark !important;
  }
}


// 字體
.font-family-Raleway{
  font-family: Raleway, serif;
}

// 字體大小
.font-size-sm{
  font-size: $font-size-sm;
}

.font-size-s{
  font-size: 1.25rem;
}

.font-size-m{
  font-size: 1.5rem;  
}

.font-size-ml{
  font-size: 2rem;
}

.font-size-lg{
  font-size: $font-size-lg;
}
@media (min-width: 767px){
  .font-size-md-s{
    font-size: 1.25rem;
  }
  .font-size-md-m{
    font-size: 1.5rem;
  }
  .font-size-md-lg {
    font-size: 3rem; //48px
  }
  .font-size-md-normal{
    font-size: $font-size-base;
  }
}

// 文字刪除線
.text-line-through{
  text-decoration:line-through;
}
// 文字底線
.text-line-underline{
  text-decoration: underline;
}